.input {
  display: flex;
  flex-direction: column;
}

.input_profile {
  flex-direction: row;
}

.input__label {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin: 18px 0 5px;
}

.input__label_profile {
  font-size: 11px;
  color: black;
}

.input__box {
  width: 100%;
  height: 13px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #e8e8e8;
  padding-bottom: 10px;
  margin: 0 0 6px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  /* text-align: left; */
}

.input__box_error {
  color: #ee3465;
}

.input__box_profile {
  text-align: right;
  font-size: 11px;
}

.input__box:focus {
  border-bottom: solid 1px #3456f3;
  outline: 0;
}

/* .input__box::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
} */

.input__error {
  color: #ee3465;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 12px;
}

.input__error:focus {
  outline: none;
}
/* 
.input__error_active {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ee3465;
  
} */

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
} */
