.promo {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.promo__title {
  font-size: 50px;
  font-weight: normal;
  letter-spacing: -0.04em;
  padding: 189px 0 132px;
  margin: 20px auto 0;
  text-align: center;
  max-width: 730px;
}

@media all and (max-width: 800px) {
  .promo__title {
    font-size: 40px;
    padding: 350px 0 314px;
  }
}

@media all and (max-width: 420px) {
  .promo__title {
    font-size: 29px;
    padding: 220px 0 212px;
  }
}
