/* * {
  outline-width: 1px;
  outline-style: solid;
  outline-color: green;
} */

.page {
  background-color: #fafafa;
  font-family: "Inter", ‘Arial’, sans-serif;
  color: black;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__section {
  margin: 0 auto;
  width: calc(100% - 140px);
  max-width: 1140px;
}
.page__section_big {
  width: calc(100% - 80px);
  max-width: 1200px;
}

.page__section_white {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  background-color: white;
  padding: 75px 0 0 0;
  height: 80vh;
}

.page__section_auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background-color: white;
  top: 0px;
  position: fixed;
}

.page__section_small {
  width: 400px;
}

.page__title {
  font-weight: normal;
  font-size: 22px;
  letter-spacing: -0.04em;
  padding-top: 110px;
  padding-bottom: 22px;
  margin: 0;
  border-bottom: 1px solid;
  align-self: flex-start;
}

.page__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 155%;
  margin: 0;
}

.page__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  color: black;
  margin: 0 10px 0 0;
  display: block;
}
.page__link:last-child {
  margin-right: 0;
}
.page__link:hover {
  font-weight: 500;
}

.page__link_grey {
  background: #e8e8e8;
  width: 96px;
  height: 36px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__link_hidden {
  visibility: hidden;
}

.page__link_active {
  font-weight: 500;
}

@media all and (max-width: 900px) {
  .page__section {
    width: calc(100% - 100px);
  }
  .page__section_big {
    width: calc(100% - 40px);
  }
  .page__title {
    padding-top: 90px;
  }
  .page__text {
    font-size: 12px;
  }
  .page__link:hover {
    text-decoration: underline;
  }
}

@media all and (max-width: 600px) {
  .page__section {
    width: calc(100% - 50px);
  }

  .page__section_big {
    width: calc(100% - 30px);
  }
}

@media all and (max-width: 400px) {
  .page__section {
    width: calc(100% - 28px);
  }
  .page__section_big {
    width: calc(100% - 28px);
  }

  .page__title {
    font-size: 18px;
    padding-top: 70px;
    padding-bottom: 28px;
  }
  .page__text {
    font-size: 11px;
  }
  .page__link {
    font-size: 10px;
  }

  .page__link_grey {
    width: 82px;
    height: 26px;
  }
}
