.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 3%;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.card__item:nth-child(3n) {
  margin-right: 0;
}

.card__title {
  font-weight: 500;
  font-size: 15px;
  padding: 18px 0 18px 18px;
  margin: 0;
  /* max-width: 70%; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__time {
  font-size: 13px;
  color: #a0a0a0;
  padding: 18px;
  margin: 0;
}

.card__label {
  display: flex;
  /* border-radius: 0 0 10px 10px;
  background-color: white; */

  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.card__img {
  display: block;
  width: 100%;
  /* height: 200px; */
  object-fit: contain;
}

.card__button {
  width: 100px;
  height: 29px;
  border-radius: 30px;
  border: none;
  margin: 18px auto;
  padding: 0;
}

.card__button:hover {
  cursor: pointer;
}

.card__button:focus {
  outline: none;
  border-radius: none;
  width: 110px;
}

.card__button_save {
  background-color: #f4f4f4;
  font-size: 12px;
}

.card__button_like {
  opacity: 1;
  background-color: #ee3465;
  background-image: url(../../images/icon_save.png);
  background-repeat: no-repeat;
  background-position: center;
}

.card__button_delete {
  opacity: 1;
  background-color: #f4f4f4;
  background-image: url(../../images/icon_delete.png);
  background-repeat: no-repeat;
  background-position: center;
}

.card__button_hidden {
  visibility: hidden;
}

@media all and (max-width: 900px) {
  .card__item {
    width: 45%;
  }
  .card__item:nth-child(even) {
    margin-right: 0;
  }
  .card__item:nth-child(odd) {
    margin-right: 5%;
  }
  /* .card__img {
    height: 190px;
  } */
}

@media all and (max-width: 750px) {
  .card__title {
    font-size: 13px;
    padding: 16px 0 16px 16px;
  }
  .card__time {
    font-size: 11px;
    padding: 14px;
  }
}

@media all and (max-width: 450px) {
  .card__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5%;
  }
  .card__title {
    font-size: 12px;
    padding: 14px 0 14px 14px;
  }
  .card__time {
    font-size: 10px;
    padding: 14px;
  }
  .card__button {
    margin: 14px 0;
  }
  /* .card__image {
    height: 168px;
  } */
}
