.header {
  display: flex;
  height: 74px;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 28px;
  padding-bottom: 56px; */
}

.header__logo {
  width: 38px;
  margin: 18px 0 18px 0;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__auth_register {
  margin-right: 30px;
}
