@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/MenuPopup/MenuPopup.css);
@import url(./components/Footer/Footer.css);
@import url(./components/NotFound/NotFound.css);

/* landing */
@import url(./components/AboutMe/AboutMe.css);
@import url(./components/AboutProject/AboutProject.css);
@import url(./components/Main/Main.css);
@import url(./components/NavTab/NavTab.css);
@import url(./components/Portfolio/Portfolio.css);
@import url(./components/Promo/Promo.css);
@import url(./components/Techs/Techs.css);

/* Movies */
@import url(./components/Movies/Movies.css);
@import url(./components/Card/Card.css);
@import url(./components/CardList/CardList.css);
@import url(./components//SearchForm/SearchForm.css);
@import url(./components/SavedMovies/SavedMovies.css);

/* Profile Auth */
@import url(./components/Profile/Profile.css);
@import url(./components/Signin/Signin.css);
@import url(./components/Signup/Signup.css);
@import url(./components/Form/Form.css);
@import url(./components/Input/Input.css);
